.followersCard{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.fTitle{
    font-weight: bold;
}
.followerX{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.f-name{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.f-name>img:nth-child(1){
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.fUsername{
    display: flex;
    flex-direction: column;
    font-size: 10pt;
}
.uName{
    font-weight: bold;
}


.show{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bold;
    color: var(--orange);
}
