.profileCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.p-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cover{
    width: 18rem;
}